body {
  height: auto;
  font-family: 'Open Sans', sans-serif;
}

textarea {
  resize: none;
}

.subtitle {
  margin: 0;
  margin-top: 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
}

.section {
  margin-top: 1.5rem;
}

.section .mui-divider {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

.mui-btn {
  background: #e57373;
  color: #fff;
}

.mui-btn:hover,
.mui-btn:focus {
  background: #bb4949;
  color: #fff;
}

.mui-btn--fab {
  position: fixed;
  bottom: 25px;
  right: 25px;
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: lowercase;
}

.post {
  margin-bottom: 1rem;
}

.post__date {
  margin: 0.25rem 0;
}

.modal {
  max-width: 600px;
  max-height: 75vh;
  margin: 100px auto;
  overflow-y: auto;
  background: #fff;
}

.modal__title {
  text-align: center;
}

.modal__content {
  padding: 1rem;
}

.error {
  color: red;
  text-align: center;
}

.modal__post-list {
  padding: 0;
}

#login-btn {
  margin-top: 1rem;
}

.btn-blue {
  background: #1a8c8c;
}

.btn-blue:hover,
.btn-blue:focus {
  background: #006e6e;
}

@media screen and (max-width: 372px) {
  #signup {
    margin-left: 0;
  }
}
